@import "@/assets/styles/_colors.scss";
@import "@/assets/styles/_variables.scss";
@import "@/assets/styles/_mixins.scss";
@import "@/assets/styles/_animations.scss";

.book {
  @include Card;
  @include CenterChildren;
  flex: 1;
  flex-direction: column;
  cursor: pointer;
  height: 350px;
  &:hover {
    img,
    .icon {
      transform: scale(1.05);
    }
  }
  .imageContainer {
    flex: 1;
    width: 100%;
    height: 250px;
    @include CenterChildren();
    border-radius: $border_radius_1;
    position: relative;
    &.noImage {
      border: 1px solid $color_shadow;
    }
    img {
      height: 100%;
      transition: transform 0.5s;
      box-shadow: $box_shadow;
      border-radius: $border_radius_1;
      opacity: 0;
      &.loaded {
        animation: FadeIn 0.5s forwards;
      }
    }
    .icon {
      transition: transform 0.5s;
      font-size: $font_size_1 * 8;
      color: transparentize($color: $color_primary_1, $amount: 0.5);
    }
    .spinner{
      @include AbsoluteCenter();
    }
    .discount {
      background-color: red;
      color: white;
      position: absolute;
      top: -$padding;
      left: 0;
      @include Circle(40px);
      @include CenterChildren();
      box-shadow: $box_shadow;
      font-weight: bold;
    }
  }
  .info {
    width: 100%;
    list-style-type: none;
    margin-top: $padding * 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      flex: 1;
      width: 100%;
      div {
        direction: rtl;
        width: 100%;
        @include CenterChildren();
        .name {
          flex: 1;
          color: $color_text_1;
          display: inline-block;
          @include Truncate(200px);
          text-align: center;
        }
        .value {
          color: $color_text_1;
          &.price {
            font-weight: bold;
            color: $color_text_1;
            font-size: $font_size_1 * 1.25;
            padding: 0 calc($padding/2);
            &.lineThrough {
              color: $color_text_3;
              text-decoration: line-through;
              font-size: calc($font_size_1 * 0.9);
            }
            &.totalAfterDiscount {
            }
          }
        }
        .currency {
          font-size: $font_size_1 * 0.75;
          color: $color_text_1;
          font-weight: bold;
        }
      }
    }
  }
}
