@import "@/assets/styles/_colors.scss";
@import "@/assets/styles/_variables.scss";
@import "@/assets/styles/_mixins.scss";

.selectBox {
  position: relative;
  max-width: 100%;
  input {
    width: 100%;
    text-align: right;
    outline: none;
    border: none;
    border-bottom: 1px solid $color_shadow;
    padding: $padding;
    color: $color_text_1;
    font-size: $font_size_1;
  }
  ul {
    @include Card();
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 10;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow-y: scroll;
    visibility: hidden;
    transition: transform 0.5s, opacity 0.5s;
    transform: translateY(10px);
    opacity: 0;
    &.visible {
      visibility: visible;
      transform: translateY(0);
      opacity: 1;
    }
    li {
      text-align: right;
      border-bottom: 1px solid $color_shadow;
      padding: calc($padding/2);
      color: $color_text_1;
      font-size: $font_size_1;
      cursor: pointer;
      transition: background-color 0.5s;
      border-radius: $border_radius_1;
      &:last-of-type {
        border: none;
      }
      &:hover {
        background-color: $color_body_background;
      }
    }
  }
}
