@font-face {
  font-family: vazir;
  src: url("assets/fonts/vazir/Vazir.eot");
  src: url("assets/fonts/vazir/Vazir.eot") format("embedded-opentype"),
    url("assets/fonts/vazir/Vazir.woff2") format("woff2"),
    url("assets/fonts/vazir/Vazir.woff") format("woff"),
    url("assets/fonts/vazir/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}